BSE_USERNAME=044607
BSE_MEMBER_ID=0446
BSE_PASSWORD=

BSE_BASE_URL=https://www.bsestarmf.in
BSE_LOGIN_URL=https://www.bsestarmf.in/StarMFWeb/Login.aspx

OUTPUT_DIR=output/downloads
LOG_DIR=output/logs
SCREENSHOT_DIR=output/logs/screenshots

HEADLESS=true
TIMEOUT_MS=60000
SLOW_MO_MS=0